{% extends "data_admin/layout.html" %}

{% block content %}

<h3 class="marginT20">{{ title }}</h3>

{% if previousMessage|length >= 1 %}
    {% if previousPostStatus is True %}
        <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> {{ previousMessage }}
        </div>
    {% endif %}
    {% if previousPostStatus is False %}
        <div class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Failed!</strong> {{ previousMessage }}
        </div>
    {% endif %}
{% endif %}

<hr />
    <div class="form-inline">
        <input type="text" class="col-md-9 form-control" id="place_name" placeholder="Enter Place Name" required/>
        <label class="col-md-1 justify-contentL"></label><!-- Placeholder label-->
        <button type="button" class="btn btn-primary col-md-2 justify-contentR " onclick="getPlaceData()">Fetch Data</button>
    </div>

    <hr />

    <div class="alert alert-info alert-dismissible collapse" id="place-info-alert">
        <!--<button type="button" class="close" data-dismiss="alert">&times;</button>-->
    </div>
    <div id="csrf-token">{% csrf_token %}</div>
    <div id="message"></div>
    <div id="place-holder">

    </div>

<div id="placeholder_map"></div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ key }}&libraries=places&callback=getPlaceData" async defer></script>

<script type="text/javascript">
    var placeIdResults, placeDetailsResult;

    var placesDetails = [];

    function getPlaceData() {
        var service = new google.maps.places.PlacesService($('#placeholder_map').get(0)); // note that it removes the content inside div with tag '#service-helper'

        var placeName = $("#place_name").val();
        if (placeName == undefined || placeName == "")
            return;

        var requestForPlaceId = {
            query: placeName,       // for findPlaceFromQuery
            fields: ['place_id',]
        }
        var status;

        // findPlaceFromQuery return places based on name, but it will not give details(like multiple photos and url)
        service.findPlaceFromQuery(requestForPlaceId, function (placeIdResults, status) {
            var alertMsg;
            if (placeIdResults == null || placeIdResults.length == 0) {
                alertMsg = '<strong> 0 results </strong> found.';
            }
            else if (status === google.maps.places.PlacesServiceStatus.OK) {
                var placeDetail = {};
                alertMsg = '<strong>';
                alertMsg += placeIdResults.length;
                alertMsg += ' results </strong> found.';

                $("#place-holder").empty();
                // Now populating place body
                for (var i = 0; i < placeIdResults.length; i++) {
                    var requestForPlaceDetail = {
                        placeId: placeIdResults[i]['place_id'],
                        fields: ['name', 'place_id', 'photos', 'url', 'geometry', 'formatted_address', 'types', 'address_components',]
                    }

                    service.getDetails(requestForPlaceDetail, function (placeDetailsResult, status) {
                        if (status === google.maps.places.PlacesServiceStatus.OK) {

                            var csrf_token = document.getElementById('csrf-token').children[0];
                            var placeID = (i + 1);
                            var placeBody = '<div class="card" href="#';
                            placeBody += placeID;
                            placeBody += '"><div class="card-header"> <a class="card-link" data-toggle="collapse">';
                            placeBody += '<strong>';
                            placeBody += placeDetailsResult['name'];
                            placeBody += '</strong>, ';
                            placeBody += placeDetailsResult['formatted_address'];
                            placeBody += '</a> </div> <div id="';
                            placeBody += placeID;
                            placeBody += '"class="collapse show card-body" data-parent="#accordion">';
                            // Put for action here
                            placeBody += '<form action = "/api/" method = "POST" class="img-thumbnail">';
                            // copying csrf token
                            placeBody += csrf_token.outerHTML;
                            // Place name
                            placeBody += '<div class="form-inline marginB10 marginT10"> <label for="place_name" class="col-md-2 justify-contentL">Place Name:</label>';
                            placeBody += '<input type = "text" class="col-md-10 form-control" name="place_name" id = "place_name';
                            placeBody += placeID;
                            placeBody += '" required value="';
                            placeBody += placeDetailsResult['name'];
                            placeBody += '"/> </div>';
                            // Lat log
                            placeBody += '<div class="form-inline marginB10"> <label for="latitude" class="col-md-2 justify-contentL">Latitude:</label>';
                            placeBody += '<input type="text" class="col-md-4 form-control" name="latitude" id="latitude';
                            placeBody += placeID;
                            placeBody += '" required value="';
                            placeBody += placeDetailsResult['geometry']['location'].lat();
                            placeBody += '"/> <label for="longitude" class="col-md-2  justify-contentL">Longitude:</label>';
                            placeBody += ' <input type="text" class="col-md-4 form-control" name="longitude" id="longitude';
                            placeBody += placeID;
                            placeBody += '" required value="';
                            placeBody += placeDetailsResult['geometry']['location'].lng();
                            placeBody += '"/></div>';
                            // address
                            placeBody += '<div class="form-inline marginB10"><label for="address" class="col-md-2 justify-contentL">Address:</label>';
                            placeBody += '<input type="text" class="col-md-10 form-control" name="address" id="address';
                            placeBody += placeID;
                            placeBody += '" required value="';
                            placeBody += placeDetailsResult['formatted_address'];
                            placeBody += '"/></div>';
                            // state & country
                            var l = placeDetailsResult['address_components'].length;
                            var state, country;
                            if (l > 1)
                                country = placeDetailsResult['address_components'][l - 1]['long_name'];
                            if (l > 2)
                                state = placeDetailsResult['address_components'][l - 2]['long_name'];
                            placeBody += '<div class="form-inline marginB10"><label for="state" class="col-md-2  justify-contentL">State:</label>';
                            placeBody += '<input type = "text" class="col-md-4 form-control" name="state" id="state';
                            placeBody += placeID;
                            placeBody += '" required value="';
                            placeBody += state;
                            placeBody += '"/><label for="country" class="col-md-2 justify-contentL">Country:</label><input type="text" class="col-md-4 form-control" name="country" id="country';
                            placeBody += placeID;
                            placeBody += '" required value="';
                            placeBody += country;
                            placeBody += '"/></div>';
                            // place id & map url
                            placeBody += '<div class="form-inline marginB10"><label for="place_id" class="col-md-2 justify-contentL">Place Id:</label>';
                            placeBody += '<input type="text" class="col-md-4 form-control" name="place_id" id="place_id';
                            placeBody += placeID;
                            placeBody += '" required value="';
                            placeBody += placeDetailsResult['place_id'];
                            placeBody += '"/><label for="map_url" class="col-md-2  justify-contentL">Map URL:</label><input type="text" class="col-md-4 form-control" name="map_url" id="map_url';
                            placeBody += placeID;
                            placeBody += '" required value="';
                            placeBody += placeDetailsResult['url'];
                            placeBody += '"/></div>';
                            //description
                            placeBody += '<div class="form-inline marginB10"><label for="description" class="col-md-2  justify-contentL">Description:</label>';
                            placeBody += '<textarea class="form-control col-md-10 " rows="5" name="description" id="description';
                            placeBody += placeID;
                            placeBody+='"></textarea></div>';
                            //photos
                            placeBody += '<label for="photos" class="col-md-12  justify-contentL">Photos (Delete photos which are not good):</label>';
                            placeBody += '<div class="form-inline marginB10">';
                            for (var j = 0; j < placeDetailsResult['photos'].length && j<99; j++) {
                                placeUrl = placeDetailsResult['photos'][j].getUrl();
                                console.log(placeDetailsResult['photos'][j]);
                                placeBody += '<div class="col-md-3 img-thumbnail text-center" > ';
                                placeBody += '<a href="';
                                placeBody += placeUrl;
                                placeBody += '" target = "_blank">';
                                placeBody += '<img class="img-thumbnail place_photo';
                                placeBody += placeID;
                                placeBody += '" src="';
                                placeBody += placeUrl;
                                placeBody += '"></a>';
                                placeBody += '<input class="hidden height1" value="';
                                placeBody += placeUrl;
                                placeBody += '" name="place_photo_url_';
                                placeBody += (j + 1);
                                placeBody += '" type="text">';
                                placeBody += '<button id = "';
                                placeBody += (100*placeID+j+1);
                                placeBody += '" type="button" class="btn btn-danger" onclick="removePhoto(this.id)">Delete</button></div>';
                            }
                            // closing
                            placeBody += '</div><button type="submit" id="';
                            placeBody += placeID;
                            placeBody += '"class="btn btn-primary col-md-12 justify-contentR" onclick = "submitPlaceDetail(this.id)" > Save Place</button > ';
                            placeBody += '</form></div></div></div>';
                            
                            $("#place-holder").append(placeBody);
                        }
                    });

                }
                
            }
            $("#place-info-alert").empty();
            $("#place-info-alert").append(alertMsg);
            $("#place-info-alert").show();
        });

    }
</script>

    <script type="text/javascript">
        $(document).ready(function () {

            // Automatic loading of place on tab
            $("#place_name").keydown(function (evt) {
                if (evt.key === "Tab") {
                    getPlaceData();
                }
                //call your function
            });
        });
        function addEventsToUpdatedDOM() {
            // Delete image button funcationality
            /*$(".delete-image-btn").click(function () {
                $(this).parent().remove();
            });*/

            // Open place detail
            /*$(".card").click(function () {
                // first hide all card body
                var cardbodyId = $(this).attr("href");
                var selector = $(".card-body");
                for (var i = 0; i < selector.length; i++) {
                    if ($(cardbodyId)[0] != (selector[i]) && $(selector[i]).is(":visible")) {
                        $(selector[i]).hide();
                    }
                }
                $(cardbodyId).toggle();
            });
            */
        };

        function removePhoto(btnId) {
            var btnIdTemp = "#" + btnId;
            $(btnIdTemp).parent().remove();
        }
    </script>
    <script type="text/javascript">
       /* function submitPlaceDetail(placeID) {
            var placeDetail = {};
            placeDetail.name = $("#place_name" + placeID).val();
            //placeDetail.address = $("#address" + placeID).val();
            placeDetail.state = $("#state" + placeID).val();
            placeDetail.country = $("#country" + placeID).val();
            placeDetail.latitude = $("#latitude" + placeID).val();
            placeDetail.longitude = $("#longitude" + placeID).val();
            placeDetail.description = $("#description" + placeID).val();
            //placeDetail.place_id = $("#place_id" + placeID).val();
            placeDetail.map_url = $("#map_url" + placeID).val();

            var photo_urls = [];
            var photoSelector = $(".place_photo" + placeID);
            for (var i = 0; i < photoSelector.length; i++) {
                var photo_url = {};
                photo_url.url = $(photoSelector[i]).attr("src");
                photo_urls.push(photo_url);
            }
            placeDetail.photo_urls = photo_urls;
            //data = JSON.stringify(placeDetail);
            //console.log(data);
            var placeDetail2 = {};
        var a=[];
        a.push(placeDetail);
            placeDetail2.place = placeDetail;

            console.log(JSON.stringify(placeDetail2));
        var data1 = JSON.stringify(placeDetail2);
           /* $.post(url_, JSON.stringify(placeDetail2), function (data, status) {
                console.log(placeDetail + "posted successfully");
            }, "json");*/
        
           /* $.ajax({
                type: 'post',
                url: url_,
                data: JSON.stringify(placeDetail), 
                success: function (data) { console.log(placeDetail + "posted successfully"); },
                contentType: "application/xml; charset=utf-8",
                dataType: 'json'
            });*/
            /*
            const other_params = {
                headers: { "content-type": "application/json; charset=UTF-8" },
                body: data,
                method: "POST",
            };
            fetch(url, other_params)
                .then(function (response) {
                    if (response.ok) {
                        alert(response.json());
                    } else {
                        throw new Error("Could not reach the API: " + response.statusText);
                    }
                }).then(function (data) {
                    document.getElementById("message").innerHTML = data.encoded;
                }).catch(function (error) {
                    document.getElementById("message").innerHTML = error.message;
                });
             */
            
        }
    </script>

{% endblock %}